.btn-primary{
    padding: 10px 35px;
        color: white;
    }
    .head-wrapp{
        background-color: #a7eaf9;
        border-radius: 10px;
    }
    /* .main-content{
        height: 70vh;
        background-color:#b2d7b0;
        border-radius: 10px;
    } */
    .dropdown-toggle{
    background-color:#5bd5ff;
    border: none;
    }
    